@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lexend:wght@500&display=swap');
body{
    margin:0;
    background-color: #f1f1f1;
}

.AdminProfileTable{
    width: 90%;
    margin: auto;
}

h2{
    text-align: center;
    font-family: 'Lexend', sans-serif;
}

.AdminProfileTable, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center;
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
}

th, td{
    padding: 10px;
}

td{
    background-color: white;
}

th{
    background-color: #252525;
    color: white;
    text-transform:uppercase;
}

.profileBox > h1{
    margin-left: 2%;
    font-family: 'Dela Gothic One', cursive;
}

.profileBox{
    background-color: #FFFFFF;
    margin: 0 5% 0 5%;
}

input[type=button]{
    color: #ff0049;
    margin:0 0 1% 5%;
    padding: 5px;
    cursor:pointer;
    border: 1px solid #ff0049;
    background-color: white;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
}

input[type=button]:hover{
    color: white;
    background-color: #ff0049;
}

#AdminViewProfile, #AdminDelProfile{
    color: #ff0049;
}

#AdminViewProfile:hover, #AdminDelProfile:hover{
    cursor:pointer;
    color: #ff0049;
    text-decoration: underline;
    background-color: rgb(245, 245, 245);
}

.profileInfo{
    float:right;
    margin-right: 7%;
    padding: 20px;
    width: 65%;
    background-color: white;
}

.profileInfoHeader, .profileInfoContent{
    color: black;
    background-color: white;
    text-align:left;
    border: none;
    font-size: 15px;
    padding: 5px;
}

.profileInfoHeader{
    width: 25%;
}

.profileInfoContent{
    width: 25%;
}

.profilePicDiv{
    margin-left: 7%;
    float: left;
}

.profilePicTable{
    background-color: white;
    width: 300px;
    padding: 20px;
}

.userdetailsheader{
    float:left;
    background-color: white;
    width: 300px;
    text-align:center;
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    padding: 15px 0 15px 0;
    font-weight:bold;
    border-bottom: 1px solid #d4d4d4;
    
}

.aboutdetailsheader{
    float:right;
    background-color: white;
    width: 65%;
    text-align:center;
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    padding: 15px 0 15px 0;
    margin-right: 7%;
    border-bottom: 1px solid #d4d4d4;
    font-weight:bold;
}

.profileReportBtn{
    float:right;
    margin-right: 7%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    cursor:pointer;
    border: 1px solid #ff0049;
    background-color: white;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
    color:#ff0049;
    transition: 0.3s;
}

.profileReportBtn:hover{
    background-color: #ff0049;
    color: white;
}

.ProfileReportHistory{
    float:right;
    width: 65%;
    margin-right: 7%;
    border-collapse: collapse;
}

.MonitorReportHistory{
    float:right;
    width: 65%;
    margin-right: 18%;
    border-collapse: collapse;
}

.AllReportHistory1{
    float:right;
    width: 99%;
    margin-right: .5%;
    border-collapse: collapse;
}

 /*HISTORY header*/
 .profileRepHisHeader{
    float:right;
    background-color: white;
    width: 65%;
    text-align:center;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    margin-right: 7%;
    font-weight:bold;
    padding: 5px 0 5px 0;
    color:#ff0049;
    }

/*civilian edit account button*/
.editAccountCivilian{
    float:left;
    background-color: white;
    width: 300px;
    text-align:center;
    font-family: 'Lexend', sans-serif;
    font-size: 17px;
    padding: 15px 0 15px 0;
    border-top: 1px solid #d4d4d4;
    text-decoration: none;
    color: #ff0049;
    transition: 0.3s;
}

.editAccountCivilian:hover{
    background-color: #ff0049;
    color: white;
}

.adminCreatedAccHead{
    background-color: white;
    text-align:center;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    padding: 5px 0 5px 0;
    color:#ff0049;
    width: 90%;
    margin: auto;
}

.adminAccAdd{
    width: 90%;
    margin-left:5%;
    margin-right:5%;
    background-color: #FFFFFF;
    padding: 1%;
    border: 1px solid #252525;
}

input[type=text], input[type=password]{
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 5px;
    font-family: 'Lexend', sans-serif;

}

.adminAddAccbtn{
    color: black;
    float: right;
    padding: 5px 10px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
}

.adminAddAccbtn:hover, .adminAddSchedbtn:hover{
    border: 2px solid #ff0049;
    color:#ff0049;
}
.adminAddSchedbtn{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:5%;
    float:left;
    color: black;
    padding: 5px 10px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
}

a{
    margin-left: 2%;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
}

.adminMonitorRep{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

.viewReportbtn{
    cursor:pointer;
    border:none;
    background-color:#FFFFFF;
    font-family: 'Lexend', sans-serif;
    font-size:15px;
    color:#ff0049;
    margin: 0 2% 0 2%;
    border: 1px solid #ff0049;
}

.viewReportbtn:hover{
    background-color: #ff0049;
    color: #ffffff;
}

.monitorHeaderContainer{
    background-color: #ffffff;
    margin: 0 5% 0 5%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #f1f1f1;
    border-left: 2px solid #ff0049;
    background-color: #FFFFFF;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Lexend', sans-serif;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #f1f1f1;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    color: #FF0049;
  }

  .tabcontent {
    display: none;
  }

#pendingV{
    margin-bottom: 0;
    padding-bottom: 10px;
  }

 /* The container */
.CBcontainer {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .CBcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    vertical-align: middle;
    top: 0;
    left: 0;
    height: 25px;
    width: 100%;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .CBcontainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .CBcontainer input:checked ~ .checkmark {
    background-color: #2bff00;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .CBcontainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .CBcontainer .checkmark:after {
    left: 45%;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

@media only screen and (max-width: 600px) {
    .w3-container{
        margin-top: 10%;
    }

    .profileBox > h1{
        font-size: 20px;
    }
}