@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@400;600&display=swap');
body{
    margin:0;
    background-color: #fff;
}

.AdminProfileTable{
    width: 80%;
    margin: auto;
}

.AdminProfileTable, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center;
}

th, td{
    padding: 10px;
}

.AdminProfileTable td{
    padding: 5px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-color: #555;
}

.AdminProfileTable th{
    text-align: center;
    padding: 7px 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.AdminProfileTable tr:nth-child(even) td {
    background-color: #fafafa;
}

.profileTagcontainer{
    background-color: #fafafa;
    padding: 5% 10% 0% 10%;
    font-family: 'Raleway', sans-serif;
}

.profileTagcontainer > h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color:#000;
    font-weight: 600;
}

.profileTagcontainer > h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color:#555;
}

input[type=button]{
    color: #ff0049;
    margin:0 0 1% 5%;
    padding: 5px;
    cursor:pointer;
    border: 1px solid #ff0049;
    background-color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

input[type=button]:hover{
    color: white;
    background-color: #ff0049;
}

#AdminViewProfile, #AdminDelProfile{
    color: #ff0049;
}

#AdminViewProfile:hover, #AdminDelProfile:hover{
    cursor:pointer;
    color: #ff0049;
    text-decoration: underline;
    background-color: rgb(245, 245, 245);
}

.profileInfo{
    float:right;
    margin-right: 7%;
    padding: 20px;
    width: 65%;
    background-color: white;
}

.profileInfoHeader, .profileInfoContent{
    color: black;
    background-color: white;
    text-align:left;
    border: none;
    font-size: 15px;
    padding: 5px;
}

.profileInfoHeader{
    width: 25%;
}

.profileInfoContent{
    width: 25%;
}

.profilePicDiv{
    margin-left: 7%;
    float: left;
}

.profilePicTable{
    background-color: white;
    width: 300px;
    padding: 20px;
}

.userdetailsheader{
    float:left;
    background-color: white;
    width: 300px;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 15px 0 15px 0;
    font-weight:bold;
    border-bottom: 1px solid #d4d4d4;
    
}

.aboutdetailsheader{
    float:right;
    background-color: white;
    width: 65%;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 15px 0 15px 0;
    margin-right: 7%;
    border-bottom: 1px solid #d4d4d4;
    font-weight:bold;
}

.profileReportBtn{
    float:right;
    margin-right: 7%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    cursor:pointer;
    border: 1px solid #ff0049;
    background-color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:#ff0049;
    transition: 0.3s;
}

.profileReportBtn:hover{
    background-color: #ff0049;
    color: white;
}

.ProfileReportHistory{
    float:right;
    width: 65%;
    margin-right: 7%;
    border-collapse: collapse;
}

.MonitorReportHistory{
    float:right;
    width: 65%;
    margin-right: 18%;
    border-collapse: collapse;
}

.AllReportHistory1{
    float:right;
    width: 99%;
    margin-right: .5%;
    border-collapse: collapse;
}

 /*HISTORY header*/
 .profileRepHisHeader{
    float:right;
    background-color: white;
    width: 65%;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-right: 7%;
    font-weight:bold;
    padding: 5px 0 5px 0;
    color:#ff0049;
    }

/*civilian edit account button*/
.editAccountCivilian{
    float:left;
    background-color: white;
    width: 300px;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding: 15px 0 15px 0;
    border-top: 1px solid #d4d4d4;
    text-decoration: none;
    color: #ff0049;
    transition: 0.3s;
}

.editAccountCivilian:hover{
    background-color: #ff0049;
    color: white;
}

.adminCreatedAccHead{
    background-color: white;
    text-align:right;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color:#000;
    margin: 3% 10%;
}

.adminAccAdd{
    width: 80%;
    margin: 0% 10% 0% 10%;
    background-color: #FFFFFF;
}

.tab{
    width: 80%;
    margin: 0 10% 0 10%;
}

.addAccTable{
    width: 100%;
    margin:0;
    background-color: #FFFFFF;
}

.aaaHead{
    background-color: white;
    width: 40%;
    border: none;
}

.aaaHead h1{
    font-size: 25px;
    color:#000;
    text-align:center;
    font-family: 'Raleway', sans-serif;
}

.aaaHead h2{
    font-size: 20px;
    color:#555;
    text-align:center;
    font-family: 'Raleway', sans-serif;
}

.aaaHead2{
    background-color: #fff;
    width: 60%;
    border: none;
    padding-top: 10px;
}

input[type=text], input[type=password]{
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #fafafa;
    color:#555;
    border:none;
}

.adminAddAccbtn{
    color: #555;
    float: right;
    padding: 5px 10px;
    border: 1px solid #555;
    background-color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.adminAddAccbtn:hover, .adminAddSchedbtn:hover{
    border: 1px solid #000;
    color:#000;
}
.adminAddSchedbtn{
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a{
    margin-left: 2%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.adminMonitorRep{
    width: 80%;
    margin: 0 10% 5% 10%;
    border-collapse: collapse;
}

.adminMonitorRep tr:nth-child(even) td {
    background-color: #fafafa;
}

.adminMonitorRep th{
    text-align: center;
    padding: 7px 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.adminMonitorRep td{
    padding: 5px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-color: #555;
}

.adminMonitorRep td > a{
    padding: 5px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-color: #555;
}

.viewReportbtn{
    cursor:pointer;
    border:none;
    background-color:#fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:#555;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    padding: 5px;
}

.viewReportbtn:hover{
    background-color: #fff;
    color:#000;
}

.viewReportbtn2{
    cursor:pointer;
    border:none;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    color:#555;
}

.viewReportbtn2:hover{
    background-color: #fff;
    color:#000;
}

.monitorHeaderContainer{
    background-color: #fafafa;
    padding: 5% 10% 0% 10%;
}

.monitorHeaderContainer h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color:#000;
    font-weight: 600;
}

.monitorHeaderContainer h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color:#555;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background-color: #FFFFFF;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #fafafa;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    color: #000;
  }

  .tabcontent {
    display: none;
  }

#pendingV{
    margin-bottom: 0;
    padding-bottom: 10px;
  }

 /* The container */
.CBcontainer {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .CBcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    vertical-align: middle;
    top: 0;
    left: 0;
    height: 25px;
    width: 100%;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .CBcontainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .CBcontainer input:checked ~ .checkmark {
    background-color: #2bff00;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .CBcontainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .CBcontainer .checkmark:after {
    left: 45%;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
@media only screen and (max-width: 600px) {
    .w3-container{
        margin-top: 10%;
    }

    .profileBox > h1{
        font-size: 20px;
    }
    
    .profileTagcontainer{
        padding-top:15%;
    }
    .profileTagcontainer > h1, .profileTagcontainer > h2, .adminCreatedAccHead {
        font-size: 20px;
    }

    .monitorHeaderContainer{
        padding-top: 15%;
    }
    .monitorHeaderContainer > h1{
        font-size: 20px;
    }
}