@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@400;600&display=swap');

body{
    margin: 0;
    background-color: #fff;
}

.CreportHeader{
    width: 100%;
    background-color: #fafafa;
    padding: 5% 10% 2% 10%;
}

.CreportHeader h1{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    background-color: #fafafa;
    color: #000;
}

.CreportHeader h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    background-color: #fafafa;
    color: #555;
}

.CreportHeader h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    background-color: #fafafa;
    color: #555;
}

.CreportInci{
    background-color: white;
    margin: 0% 10% 5% 10%;
}

.CreportInci h2{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #000;
}

.bassh {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000;
    padding: 0;
}

input[type=text], input[type=datetime-local]{
    cursor:text;
    border: none;
    background-color: #fafafa;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 100%;
    color: #555;
}

textarea{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #fafafa;
    color: #555;
    padding: 10px;
    border: 1px solid #fafafa;
    height:100px;
    resize:none;
}


.bemerxy{
    width: 100%;
}

.bemerxy td{
    width: 50%;
    padding: 5px;
    padding-left: 0;
}

#lat, #long{
    border: 3px solid #fff;
    background-color: #fafafa;
    padding: 10px;
    width: 100%;
    border: 3px solid #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor:help;
    color: #555;
}

input[type=file]{
    cursor: pointer;
    padding: 10px;
    background-color: #fafafa; 
	font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    width: 100%;
}

select{
    cursor: pointer;
    padding: 10px;
    background-color: #fafafa; 
	font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: #555;
    width: 100%;
}

input[type=submit]{
    cursor: pointer;
    margin-bottom: 2%;
    padding: 5px 10px;
    background-color: white; 
    color:#000;
	font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #000;
}

input[type=submit]:hover{
    background-color: #000;
    color: white;
}

@media screen and (max-width: 600px) {
    input[type=submit] {
      width:100%;
      margin-bottom: 10%;
    }

    #CreportHeader{
      font-size: 20px;
    }

    label{
      font-size: 15px;
    }
  }

.progress{
    margin: 5% auto;
}

.progress img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

ul{
    text-align: center;
}

ul li{
    display: inline-block;
    width: 200px;
    position: relative;

}

ul li .fa::after{
    content: '';
    background: #ccc;
    height: 5px;
    width: 205px;
    display: block;
    position: absolute;
    left: 0;
    top: 115px;
}

ul li .fa{
    background: #ccc;
    width: 16px;
    height: 16px;
    color: #148e14;
    border-radius: 50%;
    padding: 5px;
}

ul li:nth-child(2) .fa,
ul li:nth-child(3) .fa,
ul li:nth-child(4) .fa,
ul li:nth-child(5) .fa{
    background: #ccc;
    width: 16px;
    height: 16px;
    color: #ccc;
    border-radius: 50%;
    padding: 5px;
}

ul li:nth-child(1) .fa{
    background: #148e14;
}

ul li:nth-child(1) .fa::after{
    background: #148e14;
}

ul li:first-child .fa::after{
    width: 105px;
    left: 100px;
}

ul li:last-child .fa::after{
    width: 105px;
}

p{
    font-family: 'Lexend', sans-serif;

}

/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #d3d3d3;
    background-color: #FFFFFF;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #fafafa;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    color: #000;
    background-color: #fafafa;
  }
  
  /* Style the tab content */
  .CreportInputBox {
    display: none;
    padding: 5px 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
  }

  .CreportInputBox label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #555;
  }

  .CreportInputBox h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #555;
  }
  
  .statuslabel{
      color:#555;
      text-transform: capitalize;
  }