@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@400;600&display=swap');

body{
    margin:0;
    background-color: #fff;
}

.AdminProfileTable, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

th, td{
    padding: 10px;
}

td{
    background-color: white;
}

th{
    background-color: #252525;
    color: white;
    text-transform:uppercase;
}

input[type=button]{
    color: #ff0049;
    padding: 5px;
    cursor:pointer;
    border: 1px solid #ff0049;
    background-color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

input[type=button]:hover{
    color: white;
    background-color: #ff0049;
}

#AdminViewProfile, #AdminDelProfile{
    color: #ff0049;
}

#AdminViewProfile:hover, #AdminDelProfile:hover{
    cursor:pointer;
    color: #ff0049;
    text-decoration: underline;
    background-color: rgb(245, 245, 245);
}

.profileInfo{
    width: 100%;
    background-color: #fafafa;
    margin:0;
}

.profileInfoContent{
    color: #555;
    background-color: #fafafa;
    text-align:left;
    border: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 25%;
    border-left: 0.5px solid #d3d3d3;
    padding-left: 10px;
}

.profileInfoHeader{
    color: #555;
    background-color: #fafafa;
    text-align:left;
    border: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 25%;
    padding: 2px 0px 2px 0px;
    text-transform: capitalize;
    
}

.userdetailsheader{
    background-color: #fafafa;
    width: 100%;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight:bold;
    color: #555;   
}

.userdetailsheader:hover{
    text-decoration:none;
    color: #555;
}

.aboutdetailsheader{
    background-color: white;
    width: 100%;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #d3d3d3;
    font-weight:bold;
}

.profileReportBtn{
    margin: 1% 10% 1% 10%;
    padding: 10px;
    cursor:pointer;
    border: 1px solid #000;
    background-color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:#000;
    font-weight:600;
}

.profileReportBtn:hover{
    background-color: #000;
    color: #fff;
    text-decoration:none ;
}

.profileReportBtnDisabled{
    margin: 1% 10% 1% 10%;
    padding: 10px;
    cursor:pointer;
    border: 1px solid #d3d3d3;
    background-color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    color:#555;
}

.profileReportBtnDisabled:hover{
    color:#555;
    text-decoration: none;
}

.ProfileReportHistory{
    width: 80%;
    margin: 0 10% 5% 10%;
    border-collapse: collapse;
}

.ProfileReportHistory tr:nth-child(even) td {
    background-color: #fafafa;
}

.ProfileReportHistory th{
    text-align: center;
    padding: 7px 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.ProfileReportHistory td{
    padding: 5px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-color: #555;
}

.MonitorReportHistory{
    width: 100%;
    border-collapse: collapse;
}

.AllReportHistory1{
    width: 100%;
    border-collapse: collapse;
}

 /*HISTORY header*/
 .profileRepHisHeader a{
    background-color: white;
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin:0 10% 3% 10%;
    color:#000;
    }

    .profileRepHisHeader a:hover{
        color: #000;
        text-decoration: none;
    }
/*civilian edit account button*/
.editAccountCivilian{
    padding: 10px;
    cursor:pointer;
    border: none;
    background-color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:#000;
    transition: 0.3s;
    float:right;
    margin: 0 5% 0 5%;
}

.editAccountCivilian:hover{
    background-color: #000;
    color: white;
    cursor:pointer;
}

.viewReportbtn{
    cursor:pointer;
    border:none;
    background-color:#fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:#555;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    padding: 5px;
}

.viewReportbtn:hover{
    background-color: #fff;
    color:#000;
}

.viewReportbtn2{
    cursor:pointer;
    border:none;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    color:#555;
}

.viewReportbtn2:hover{
    background-color: #fff;
    color:#000;
}

.viewReportbtn3{
    cursor:pointer;
    border:none;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    color:#555;
}

.viewReportbtn3:hover{
    background-color: #fff;
    color:#000;
}

label{
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    color:#555;
}

.btn-subscribe{
    cursor:pointer;
    border: 1px solid #555;
    background-color:#FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:#555;
}

.btn-subscribe:hover{
    background-color: #fff;
    color:#000;
}

.profileTagcontainer{
    background-color: #fafafa;
    padding: 5% 10% 0% 10%;
    font-family: 'Raleway', sans-serif;
}

.profileTagcontainer h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 35px;
    
}

.profileTagcontainer2{
    background-color: #fafafa;
    padding: 5% 10% 2% 10%;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2%;
}

.profileTagcontainer2 h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 35px;  
}

.profileTagcontainer2 h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #555;  
}

@media only screen and (max-width: 600px) {
    .profilePicTable, .aboutdetailsheader, .profileInfo, .profileReportBtn, .profileRepHisHeader, .ProfileReportHistory, .profileTagcontainer{
        width: 100%;
        margin:0;
    }

    .editAccountCivilian{
        margin:0;
    }

    h1{
        font-size: 20px;
    }
}