@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lexend:wght@500&display=swap');
body{
    margin:0;
    background-color: #f1f1f1;
}

h2{
    text-align: center;
    font-family: 'Lexend', sans-serif;
}

.AdminProfileTable, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center;
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
}

th, td{
    padding: 10px;
}

td{
    background-color: white;
}

th{
    background-color: #252525;
    color: white;
    text-transform:uppercase;
}

input[type=button]{
    color: #ff0049;
    padding: 5px;
    cursor:pointer;
    border: 1px solid #ff0049;
    background-color: white;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
}

input[type=button]:hover{
    color: white;
    background-color: #ff0049;
}

#AdminViewProfile, #AdminDelProfile{
    color: #ff0049;
}

#AdminViewProfile:hover, #AdminDelProfile:hover{
    cursor:pointer;
    color: #ff0049;
    text-decoration: underline;
    background-color: rgb(245, 245, 245);
}

.profileInfo{
    margin:0 5% 0 5%;
    padding: 20px;
    width: 90%;
    background-color: white;
}

.profileInfoHeader, .profileInfoContent{
    color: black;
    background-color: white;
    text-align:left;
    border: none;
    font-size: 15px;
    padding: 5px;
}

.profileInfoHeader, .profileInfoContent{
    width: 25%;
}

.profilePicTable{
    background-color: white;
    width: 100%;
    padding: 20px;
}

.userdetailsheader{
    background-color: white;
    width: 90%;
    margin: 0 5% 0 5%;
    text-align:center;
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    padding: 15px 0 15px 0;
    font-weight:bold;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #ff0049;
    
}

.aboutdetailsheader{
    background-color: white;
    width: 100%;
    text-align:center;
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #d4d4d4;
    font-weight:bold;
}

.profileReportBtn{
    margin: 1% 5% 1% 5%;
    padding: 10px;
    cursor:pointer;
    border: 1px solid #ff0049;
    background-color: white;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
    color:#ff0049;
    transition: 0.3s;
}

.profileReportBtn:hover{
    background-color: #ff0049;
    color: white;
}

.profileReportBtnDisabled{
    margin: 1% 5% 1% 5%;
    padding: 10px;
    cursor:pointer;
    border: 1px solid #575757;
    background-color: white;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
    text-decoration: line-through;
    color:#7c7c7c;
}

button:disabled{
   
    padding:10px;
    cursor:pointer;
    border: 1px solid #494949;
    background-color: white;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
    color:#838383;
    transition: 0.3s;
}

.ProfileReportHistory{
    width: 90%;
    margin: 0 5% 0 5%;
    border-collapse: collapse;
}

.MonitorReportHistory{
    width: 100%;
    border-collapse: collapse;
}

.AllReportHistory1{
    width: 100%;
    border-collapse: collapse;
}

 /*HISTORY header*/
 .profileRepHisHeader{
    background-color: white;
    width: 90%;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    margin:0 5% 0 5%;
    font-weight:bold;
    padding: 8px 0 8px 0;
    color:#ff0049;
    }

/*civilian edit account button*/
.editAccountCivilian{
    padding: 10px;
    cursor:pointer;
    border: none;
    background-color: white;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
    color:#ff0049;
    transition: 0.3s;
    float:right;
    margin: 0 5% 0 5%;
}

.editAccountCivilian:hover{
    background-color: #ff0049;
    color: white;
    cursor:pointer;
}

.viewReportbtn{
    cursor:pointer;
    border:none;
    background-color:#FFFFFF;
    font-family: 'Lexend', sans-serif;
    font-size:15px;
    color:#ff0049;
    float:right;
    margin-right:5%;
}

.viewReportbtn:hover{
    background-color: #ff0049;
    color:#FFFFFF;
}

.viewReportbtn2{
    cursor:pointer;
    border:none;
    background-color:#FFFFFF;
    font-family: 'Lexend', sans-serif;
    font-size:15px;
    color:#ff0049;
    margin-right:5%;
}

.viewReportbtn2:hover{
    background-color: #ff0049;
    color:#FFFFFF;
}

.btn-subscribe{
    cursor:pointer;
    border: 1px solid #ff0049;
    background-color:#FFFFFF;
    font-family: 'Lexend', sans-serif;
    font-size:15px;
    color:#ff0049;
}

.btn-subscribe:hover{
    background-color: #ff0049;
    color:#FFFFFF;
}

.profileTagcontainer{
    background-color: #FFFFFF;
    margin: 0 5% 0 5%;
    font-family: 'Dela Gothic One', cursive;
}

h1{
    margin: 0 2% 0 2%;
    font-family: 'Dela Gothic One', cursive;

}

@media only screen and (max-width: 600px) {
    .profilePicTable, .userdetailsheader, .aboutdetailsheader, .profileInfo, .profileReportBtn, .profileRepHisHeader, .ProfileReportHistory{
        width: 100%;
        margin:0;
    }

    .editAccountCivilian{
        margin:0;
    }

    h1{
        font-size: 20px;
    }
}