@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lexend:wght@600&display=swap');

body{
    margin:0;
    background-color: #F1F1F1;
}

.changePWContainer{
    background-color: #FFFFFF;
    width: 50%;
    font-family: 'Lexend', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

h3{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    color: #252525;
    padding: 10px 10px;
    border-left: 2px solid #ff0049;
}

input[type=text]{
    width: 90%;
    font-family: 'Lexend', sans-serif;
    color: #969696;
    margin: 0 4% 4% 4%;
    padding: 1%;
    border: 1px solid #969696;
}

input[type=submit]{
    width: 90%;
    background-color: #FFFFFF;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    border: 1px solid #FF0049;
    color: #FF0049;
    padding: 1% 0;
    margin: 0 5% 2% 5%;
}

input[type=submit]:hover{
    cursor: pointer;
    color: #FFFFFF;
    background-color: #FF0049;

}

@media only screen and (max-width: 900px) {
    .changePWContainer{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}