@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@400;600&display=swap');

body {
    margin: 0;
  }
  
  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
    width: 100%;
    padding:0;
    position: relative;
    height: auto;
    background-color: #FFFFFF;
    border:  1px solid #d3d3d3;
    
  }

  .contain{
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
  }
  .footer .col {
    width: 25%;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #000;
    font-weight: 600;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul a {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    background-color: #FFFFFF;
  }

  .footer .col ul a:hover {
    color: #000;
    text-decoration: none;
    background-color: #555;
  }
  .clearfix {
    clear: both;
  }

  /* footer 2 styling*/
  .footer2{
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 20px;
    border-bottom: 1px solid #d3d3d3;
  }
  
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 900px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1, .footersignlink {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 600px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 14px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }