@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@400;600&display=swap');

body{
    margin:0;
    background-color: #FFFFFF;
}

.rlinfo{
    width: 40%;
    text-align: center;
}

.rlch1{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-weight:600;
}

.rlch2{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    
}

.getVerifwrapper{
    background-color: #FFFFFF;
    width: 80%;
    margin: 0% 10% 0 10%;
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
}

.getVerifwrapper2{
    border-left: 1px solid #d3d3d3;
    padding: 4% 2% 2% 2%;
    width: 60%;
}

.getVerifwrapper2 h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 35px;
}

.getVerifwrapper2 h2{
    font-family: 'Open Sans', sans-serif;
    color: #555;
    font-size: 20px;
}

.getVerifwrapper2 h3{
    font-family: 'Open Sans', sans-serif;
    color: #555;
    font-size: 16px;
}

input[type=file]{
    cursor: pointer;
    padding: 10px;
    background-color: #fafafa; 
	font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #fafafa;
    
}

select{
    cursor: pointer;
    padding: 10px;
    background-color: #fafafa; 
	font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #fafafa;
}

input[type=submit]{
    cursor: pointer;
    padding: 5px 10px;
    background-color: #000; 
	font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #000;
    color: #fff;
    text-transform: capitalize;
}

input[type=submit]:hover{
    background-color: #fff;
    color: #000;
}

.footer2{
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 20px;
    border-top: 1px solid #d3d3d3;
  }

  /*add announcements*/

  .getVerifwrapper{
    padding-top: 10%;
  }

  .getVerifwrapper h1{
    font-size: 30px;
  }

  
  .baddtd{
    width: 40%;
    text-align: center;

}

  .baddtd2{
      width: 60%;
      padding: 2%;
      border: 1px solid #d3d3d3;
      border-bottom:none;
  }


.baddtd2 h1, .baddtd h1{
  font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-weight:600;
}

.baddtd2 input[type=text], input[type=datetime-local] {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #fafafa;
    color: #555;
    padding: 1%;
    border: 1px solid #fafafa;
    margin-bottom: 2%;
}

textarea{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #fafafa;
    color: #555;
    padding: 1%;
    border: 1px solid #fafafa;
    margin-bottom: 2%;
    height:100px;
    resize:none;
}

.baddtd2 label {
    padding: 5px 0;
    font-size: 16px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.subAddAnn{
    color: #fff;
    float: right;
    padding: 5px 10px;
    border: 2px solid black;
    background-color: #000;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.baddtd h2{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}
  @media only screen and (max-width: 600px) {
    .RPbutton{
        font-size: 14px;
    }

    h1,h2{
        font-size: 15px;
    }

    h1{
        margin: 3% 35% 2% 0;
    }

    .reportmainwrapper{
      margin: 10% 10% 0 10%;
    }
}