@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@400;600&display=swap');

html, body {
    height: 98%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
  }
#floating-panel {
float:left;
background-color: #fff;
padding: 15px;
border: 1px solid #d3d3d3;
border-right:none;
border-top:none;
width: 20%;
padding-top: 5%;
}

#floating-panel h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
    color: #555;
    font-size: 20px;
}

#floating-panel h2{
  font-family: 'Open Sans', sans-serif;
    color: #555;
    font-size: 16px;
}

.hmbut{
  font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
    padding: 10px;
    border: 1px solid #fafafa;
    color: #555;
    text-align: center;
    border-radius: 25px;
    width:100%;
    margin-bottom: 10px;
}

.hmbut:hover{
  background-color: #d3d3d3;
  color: #555;
}

.hmaptab{
  width:100%;
}
table td{
  width: 50%;
}
