@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lexend:wght@500&display=swap');

body{
    margin:0;
    background-color: #f1f1f1;
}

.hpFirstSection{
    padding:0;
}

.hpFirst{
    width:100%;
    background-color: #f1f1f1;
    padding: 5% 8% 0% 8%;
}

.hpFirstHeader{
  font-family: 'Dela Gothic One', cursive;
  font-size: 50px;
  color: #252525;
  margin-left: 2%;
}

.hpFirstHeader:hover{
   text-decoration: none;
   color: black;
}

p{
  font-family: 'Lexend', sans-serif;
  font-size: 20px;
}

.hpFirstleftborder{
    border-left: 2px solid #ff0049;
    padding-left: 2%;
    padding-bottom: 5%;
}
/*loginbutton*/
.hpLoginbtn {
  display: inline-block;
  font-family: 'Dela Gothic One', cursive;
  background-color: #ff0049;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 25%;
  transition: all 0.5s;
  cursor: pointer;
}

.hpLoginbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hpLoginbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hpLoginbtn:hover span {
  padding-right: 25px;
}

.hpLoginbtn:hover span:after {
  opacity: 1;
  right: 0;
}
/*GUIDE*/
.indexContent1{
  padding: 0 2% 0 2%;
}

.indexGuide{
  width:100%;
  background-color: white;
  padding: 0 0 5% 0;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.hpSecHeader{
  font-family: 'Dela Gothic One', cursive;
  font-size: 45px;
  color: #252525;
  float:left;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-left: 2%;
  margin-left:6.2%;
  border-bottom: 2px solid #ff0049;
  border-left: 2px solid #ff0049;
}

.hpSecHeader:hover{
  text-decoration:none;
  color: black;
}

.iGp{
  background-color: #252525;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 1px 10px #CCCCCC;
}

.iGp i{
  font-size: 70px;
  width: 100%;
  text-align:center;
  padding: 50px 20px 50px 20px;
  border-right: 2px solid #ff0049;
  border-radius: 100px;;
}

.iGp th{
  width: 30%;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  font-family: 'Lexend', sans-serif;
}

.iGp td{
  width: 100%;
  float:left;
  font-size: 20px;
  padding: 20px;
  font-family: 'Lexend', sans-serif;
}

.SelConH, .inputInfoH, .subInciH{
  font-size: 30px;
  font-family: 'Dela Gothic One', cursive;
  color: #ff0049;
}

.SelConH:hover, .inputInfoH:hover, .subInciH:hover{
  text-decoration:none;
  color: #ff0049;
}

.guideSubhead{
  color:white;
  font-weight:bolder;
  font-family: 'Lexend', sans-serif;
}

.guideSubhead:hover{
  text-decoration:none;
  color:#ffffff;
}

.guideSubhead2{
  color:#FFFFFF;
  font-family: 'Lexend', sans-serif;
  font-weight: lighter;
}

.guideSubhead2:hover{
  color:#FFFFFF;
  text-decoration:none;
}

ul li{
  color: #FFFFFF;
}
/*about us*/

.indexContent2{
  padding: 2%;
}

table .indexAbout{
  width:100%;
  background-color: #f1f1f1;
  padding: 5% 8% 0% 8%;
}

.indexAbout th{
  width:10%;
  padding: 30px;
  background-color:#252525;
  color:#ff0049;
  border-right:2px solid #ff0049;
}

.indexAbout td{
  width:50%;
  height:max-content;
  padding: 30px;
  border:1px solid #252525;
  background-color: #ffffff;
}

.indexAbout td:hover{
  padding: 30px;
  border:1px solid #252525;
}

.hpSecHeader2{
  font-family: 'Lexend', sans-serif;
  text-align:center;
}

.hpAboutHeader{
  color: #252525;
  font-family: 'Dela Gothic One', cursive;
  font-size: 30px;
  border-bottom: 1px solid #ff0049;
}

.hpAboutHeader:hover{
  text-decoration:none;
  color:black;
}

.AboutSubhead{
  font-size:20px;
  color:#252525;
  text-transform:uppercase;
  font-family: 'Lexend', sans-serif;
  font-weight:bolder;
}

.AboutSubhead:hover{
  color:#252525;
  text-decoration:none;
}
/*PNP BARANGAY BFP*/

.indexContent3{
  padding: 0;
}

.indexPBB{
  width: 100%;
  background-color: white;
  padding: 6% 9% 5% 9%;
}

div.hpSecHeader3{
  font-family: 'Dela Gothic One', cursive;
  font-size: 40px;
  color: #252525;
  font-weight: bold;
  text-align: center;
}

.hpSecHeader3:hover{
  text-decoration: none;
  color: black;
}

#reportsColor{
  color: #FF0049;
}

#reportsColor:hover{
  text-decoration: none;
}

.indexPBBTable{
  width:100%;
  border-collapse: separate;
  border-spacing: 15px 0px;
}

.indexPBBTable th{
  width: 33.33%;
  font-size: 20px;
}

.ipbbthead{
  font-size: 25px;
  color:#252525;
  font-family: 'Lexend', sans-serif;
  border-left: 1px solid #252525;
  border-right: 1px solid #252525;
  border-bottom: 1px solid #252525;
  text-align:left;
  padding: 5px;
  font-weight: bold;
}

.ipbbthead2{
  font-size: 20px;
  color:#252525;
  font-family: 'Lexend', sans-serif;
  border-left: 1px solid #252525;
  border-right: 1px solid #252525;
  border-bottom: 1px solid #252525;
  text-align:left;
  padding: 5px;
}

.ipbbthead3{
  font-size: 15px;
  color:#252525;
  font-family: 'Lexend', sans-serif;
  border-left: 1px solid #252525;
  border-right: 1px solid #252525;
  border-bottom: 1px solid #252525;
  text-align:left;
  padding: 5px;
}

.PBBvstbtn{
  display: inline-block;
  font-family: 'Lexend', sans-serif;
  background-color: #ff0049;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: uppercase;
}

.PBBvstbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.PBBvstbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.PBBvstbtn:hover span {
  padding-right: 25px;
}

.PBBvstbtn:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .hpFirstHeader{
    font-size:35px;
  }

  p{
    font-size: 14px;
  }

  .hpLoginbtn{
    font-size: 18px;
    width: 100%;
  }

  .iGp, .indexAbout{
    width:100%;
  }
  
  .hpSecHeader{
    font-size: 35px;
  }

  .iGp i{
    font-size: 30px;
  }

  .SelConH, .inputInfoH, .subInciH, .guideSubhead, .guideSubhead2, .hpAboutHeader, .AboutSubhead, .ipbbthead, .PBBvstbtn{
    font-size: 15px;
  }

  .indexPBB{
    padding:0 0 5% 0;
  }

  img{
    height: 250px;
  }

  .iGp th, .iGp td{
    padding: 10px;
  }
}