@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lexend:wght@600&display=swap');

body{
    margin:0;
    background-color: #f1f1f1;
}

.reportmainwrapper{
    background-color: #FFFFFF;
    width: 80%;
    margin: 4% 10% 0 10%;
    padding: 0;
    border-top: 2px solid #252525;
    border-bottom: 2px solid #252525;
    border-right: 2px solid #252525;
    border-left: 2px solid #FF0049;
    border-radius: 10px;
}

h1{
    font-family: 'Dela Gothic One', cursive;
    margin: 3% 50% 2% 0;
    padding: 1% 1% 1% 5%;
    background-color: #FF0049;
    color: #FFFFFF;
    border-radius: 0px 35px 35px 0px;
}

h2{
    font-family: 'Lexend', sans-serif;
    color: #252525;
    margin: 0 5% 2% 5%;
}

.RPbutton {
    display: inline-block;
    border-radius: 4px;
    background-color:#FFFFFF;
    border: 2px solid #252525;
    color: #252525;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 90%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5% 3% 5%;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;

  }
  .RPbutton:hover{
    color:#FF0049;
    border: 2px solid #FF0049;
  }

  .RPbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  
  .RPbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }

  .RPbutton:hover span {
    padding-right: 25px;
    color:#FF0049;
  }
  
  .RPbutton:hover span:after {
    opacity: 1;
    right: 0;
  }


  @media only screen and (max-width: 600px) {
    .RPbutton{
        font-size: 14px;
    }

    h1,h2{
        font-size: 15px;
    }

    h1{
        margin: 3% 35% 2% 0;
    }

    .reportmainwrapper{
      margin: 10% 10% 0 10%;
    }
}