@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@400;600&display=swap');

body{
    margin:0;
    background-color: #fff;
}

.reportmainwrapper{
  background-color: #FFFFFF;
  width: 80%;
  margin: 0% 10% 0 10%;
  border: 1px solid #d3d3d3;
  border-top:none;
  border-bottom: none;
}

.reportmainwrapper2{
  border-left: 1px solid #d3d3d3;
    padding: 7% 2% 2% 2%;
    width: 50%;
}

.reportmainwrapper3{
  border-left: 1px solid #d3d3d3;
    padding: 7% 2% 2% 2%;
    width: 50%;
}

.reportmainwrapper3 h1{
  font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
}

.reportmainwrapper2 h1{
  font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.reportmainwrapper2 h2{
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.RPbutton {
    color: #000;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    width: 100%;
    padding: 5px 10px;
  }
  .RPbutton:hover{
    color:#000;
    background-color: #fafafa;
  }

  .footer2{
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #d3d3d3;
    margin:0;
  }

  .CreportdashbCon{
background-color: #fff;
width: 100%;
padding: 0% 10%;
  }

  .CreportdashbCon h1{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 10px;
    background-color: #fff;
    color: #000;
  }

  .Creportdashb{
    background-color: #FFFFFF;
  width: 100%;
  margin: 0;
  }

  .Creportdashb td{
    width: 33.33%;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background-color: #fff;
    color: #555;
  }

  #numberOfsR1{
    font-size: 20px;
    color: #555;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;

  }

  #numberOfsR2{
    font-size: 35px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }

  #numberOfsR3{
    font-size: 16px;
    color: #555;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

  }

  #pnote{
    font-size: 14px;
    color: #555;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
  }
  @media only screen and (max-width: 600px) {
    .RPbutton{
        font-size: 14px;
    }

    h1,h2{
        font-size: 15px;
    }

    h1{
        margin: 3% 35% 2% 0;
    }

    .reportmainwrapper{
      margin: 10% 10% 0 10%;
    }
}