@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@400;600&display=swap');

body{
  margin:0;
  background-color: #ffffff;
}
/* Float four columns side by side */
.columnCard {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .rowCard {
      margin: 0 -5px;   
    }
  
  /* Clear floats after the columns */
  .rowCard:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .vccc{
    background-color: #ffffff;
    width: 100%;
    padding: 5% 20% 2% 20%;
  }

  .vccc2{
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 30%;
  }

  .vccc3{
    width: 100%;
    padding: 4% 15%;
    background-color: #fff;
  }

  .vccc4{
    width: 100%;
    padding: 0 10%;
    background-color: #ffffff;
  }

  .vccc5{
    width: 80%;
    margin: 0 10%;
    background-color: #ffffff;
  }

  .vccc5 td{
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    padding: 5px 10px;
  }

  .vccc5 a{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #000;
  }

  .vccc5 a:hover{
    text-decoration:none;
    color: #555;
    cursor: pointer;
  }

  .vccc5 h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555;
  }

  .vccc5 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000;
  }

  .vccc4 h1{
    font-family: 'Raleway', sans-serif;
    text-align:center;
    font-size: 35px;
    font-weight: 600;
    color: #000;
  }

  .vccc4 h4{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    font-size: 18px;
    font-weight: 400;
    color: #000;
  }

  .vccch{
    width: 100%;
    padding: 10% 15%;
    background-color: #fafafa;
  }

  .vccch h1{
    font-family: 'Raleway', sans-serif;
    text-align:left;
    font-size: 50px;
    font-weight: 600;
    color: #000;
  }

  .vccch p{
    font-size: 14px;
    font-weight: 400;
    color:#252525;
    font-family: 'Open Sans', sans-serif;
    text-align:left;
    padding: 3% 0;
  }

  img{
    float:left;
    height: 500px;
  }
  
  .ipbbthead2{
    padding-top: 5%;
    font-size: 18px;
    color:#000;
    font-family: 'Open Sans', sans-serif;
    text-align:left;
  }

  .ipbbthead3{
    font-size: 14px;
    font-weight: 400;
    color:#555;
    font-family: 'Open Sans', sans-serif;
    text-align:right;
  }


  @media only screen and (max-width: 600px) {
  .vccch h1{
    font-size: 20px;
  }

  img{
    height: 250px;
  }

  .ipbbthead2{
    font-size: 16px;
  }
}